body {
  background: #2bb24c;
  margin: 0;
  color: white;
}

.subscribe-box {
  background: #2bb24c;
  font-family: "calibri";
  margin-top: 1em;
  text-align: center;
}
.subscribe-box h2 {
  margin: 0 0 0.1em 0;
  font-weight: 10;
  font-size: 10;
  font-family: "calibri";
}
.subscribe-box .subscribe {
  width: 100%;
  max-width: 200px;
  margin: auto;
}
.subscribe-box .subscribe input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 0.5em 0 0.4em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}
.subscribe-box .subscribe input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe button {
  all: unset;
  margin-top: 0.9em;
  background: transparent;
  border: 2px solid white;
  padding: 0.5em 2em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button span {
  display: inline-block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button:before,
.subscribe-box .subscribe button:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}
.subscribe-box .subscribe button:before {
  height: 7px;
  width: 7px;
  background: transparent;
  border-right: 2px solid;
  border-top: 2px solid;
  right: 25px;
  top: 12px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.subscribe-box .subscribe button:after {
  transform: translateY(10px);
}
/* .subscribe-box .subscribe button:after {
  background: white;
  height: 20px;
  width: 0.5px;
  left: 4em;
  top: 0.5em;
} */
.subscribe-box .subscribe button:hover span {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.subscribe-box .subscribe button:hover:before {
  opacity: 1;
}
.subscribe-box .subscribe button:hover:after {
  width: 14px;
  opacity: 1;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}
.subscribe-box .subscribe button:disabled {
  background-color: #05c46b;
}

.error1 {
  background-color: #ff3f34;
}
